#### Python calculator
Performing basic calculations using python.

In [2]:
print("4 multiplied by 3 is {}".format(4 * 3))
print("4 added by 3 is {}".format(4 + 3))
print("4 subtract by 3 is {}".format(4 - 3))
print("4 divides by 3 is {}".format(4 / 3))
print("4 integer divided by 3 is {}".format(4 // 3))
print("4 modulo 3 is {}".format(4 % 3))
print("4 to the power of 3 is {}".format(4 ** 3))

4 multiplied by 3 is 12
4 added by 3 is 7
4 subtract by 3 is 1
4 divides by 3 is 1.3333333333333333
4 integer divided by 3 is 1
4 modulo 3 is 1
4 to the power of 3 is 64

Performing complex number calculation:

In [74]:
print("(1+3j) mutiplied by (2+1j): ", complex(1,3) * complex(2,1))
print("(j) divided by (1+1j): ", complex(0,1) / complex(1,1))

(1+3j) mutiplied by (2+1j):  (-1+7j)
(j) divided by (1+1j):  (0.5+0.5j)

#### Variables
All data types are objects and have methods.

In [7]:
age = 24
height = 1.87
name = 'Matthew'
student = True
print("Age is of type: " + str(type(age)))
print("Height is of type: " + str(type(height)))
print("Name is of type: " + str(type(name)))
print("Student is of type: " + str(type(student)))

Age is of type: <class 'int'>
Height is of type: <class 'float'>
Name is of type: <class 'str'>
Student is of type: <class 'bool'>

#### Casting data type

In [15]:
height = '1.79'  # defining height as string
student_name = 'something' # boolean of a string that is not null is True
age = 24
print ("Double of his height is {}" .format(2 * float(height)))
print("Student has name and is older than 20:".format(age > 20 and bool(student_name)))
print("His age is " + str(age))

Double of his height is 3.58
Student has name and is older than 20:
His age is 24

#### List
Storing many variables.

In [56]:
ages = [12, 25, 36, 80, [1 , 1 , 1]]
print("Age of triplets: " ,ages[4])
print("Age of data and granpa are: " , ages[2:4])
print("ages list data type is : ", type(ages))
print("sister index in the list: ", ages.index(12))

Age of triplets:  [1, 1, 1]
Age of data and granpa are:  [36, 80]
ages list data type is :  <class 'list'>
sister index in the list:  0

In [57]:
ages.append(110)  # granpa age if he was alive- adding elements to the list
ages

[12, 25, 36, 80, [1, 1, 1], 110]

In [58]:
ages[4] = [2, 2, 2] # triplets have grown one year older modifying list elements
ages[ages.index(80)] = 81 # it was also granmas birthday
ages

[12, 25, 36, 81, [2, 2, 2], 110]

In [59]:
# adding several items to the list (not efficient)
ages.extend([20, 31, 32]) # aunts and uncles are visitng us
# you can do the same thing with list1 + list2
ages = ages + [8, 9, 12] # they are also bringing their children
ages

[12, 25, 36, 81, [2, 2, 2], 110, 20, 31, 32, 8, 9, 12]

In [60]:
# deleting element from the list 
del(ages[4:6]) # triplets and granpa are gone to the park
ages

[12, 25, 36, 81, 20, 31, 32, 8, 9, 12]

In [62]:
# if you would like to get a seperate copy of a list that you can 
# work on independandtly you can use the following
ages_list = list(ages)
del(ages_list[2:5])
print(ages)
print(ages_list)

[12, 25, 36, 81, 20, 31, 32, 8, 9, 12]
[12, 25, 31, 32, 8, 9, 12]

#### String methods

In [106]:
mystring = "MAN UTD won 1998 CL cup. "

print("String in lower case is:\t" + mystring.lower())
print("String in upper case is:\t" + mystring.upper())
print("A list of tokens are:\t" , mystring.split())
print("Swapping word cases are:\t"+ mystring.swapcase())
print("Before and after 1998:\t", mystring.partition('1998'))
print("Are all elements numeric:\t" , mystring.isnumeric())
print("Where first time letter 'n' occured?:\t", mystring.index('n'))
print("How many time 'n' occured:\t", mystring.count('n'))
print("Does string end with a period?:\t", mystring.endswith('.'))
print("Does string stard with an 'M'?:\t", mystring.startswith('M'))
print("Full name of the team :\t" + mystring.replace('MAN UTD', 'Manchester United'))

String in lower case is:	man utd won 1998 cl cup.
String in upper case is:	MAN UTD WON 1998 CL CUP.
A list of tokens are:	 ['MAN', 'UTD', 'won', '1998', 'CL', 'cup.']
Swapping word cases are:	man utd WON 1998 cl CUP.
Before and after 1998:	 ('MAN UTD won ', '1998', ' CL cup. ')
Are all elements numeric:	 False
Where first time letter 'n' occured?:	 10
How many time 'n' occured:	 1
Does string end with a period?:	 False
Does string stard with an 'M'?:	 True
Full name of the team :	Manchester United won 1998 CL cup.

#### Numeric data type methods

In [133]:
boolean  = True
real = 0.33
integer = 400

print("Is {} an integer?\t {}.".format(real, real.is_integer()))
print("{} on base of 16 is:\t {}.".format(real, real.hex()))
print("Number of bits to store {} is:\t {}.".format(integer, integer.bit_length()))
# boolean can be considered int = 1
print("Is 'True' equal 1? {} + {} =\t {}".format(boolean, 5, boolean + 5))

Is 0.33 an integer?	 False.
0.33 on base of 16 is:	 0x1.51eb851eb851fp-2.
Number of bits to store 400 is:	 9.
Is 'True' equal 1? True + 5 =	 6

#### List methods

In [190]:
my_list = [0, 1, 1, 2, 3, 3]

print("How many times '1' occured in my_list?\t{}".format(my_list.count(1)))
my_list.insert(0, 3.14) # it is done inplace
print("New list after insertion is:\t", my_list)
my_list.remove(3) # remove first 3
print("My new list after removal is:\t", my_list)
print("Where first 1 occured?\t", my_list.index(1))
my_list.pop(1) # removing element at index 1
print("After removing element at index 1:\t", my_list)
my_list.reverse()
print("Reversing the list inplace:\t", my_list)
my_list.clear()
print("After removing all the elements:\t", my_list)

How many times '1' occured in my_list?	2
New list after insertion is:	 [3.14, 0, 1, 1, 2, 3, 3]
My new list after removal is:	 [3.14, 0, 1, 1, 2, 3]
Where first 1 occured?	 2
After removing element at index 1:	 [3.14, 1, 1, 2, 3]
Reversing the list inplace:	 [3, 2, 1, 1, 3.14]
After removing all the elements:	 []

#### List functions

In [173]:
my_new_list = [1, 2, 0.0, 3]
print("Is there at leas one non-null element?\t", any(my_new_list))
print("Are all elements non null?\t", all(my_new_list)) # there is one zero => null
print("Return the enumerat object:\t", *enumerate(my_new_list))
print("Elements smaller than 2:\t",*filter(lambda x : x  < 2, my_new_list))
print("Lazy iterator of the list:\t", iter(my_new_list))
print("Sum of all elements of the list:\t", sum(my_new_list))
print("Reversing the list:\t", *reversed(my_new_list))
print("Aother way of reversing:\t", my_new_list[::-1])

Is there at leas one non-null element?	 True
Are all elements non null?	 False
Return the enumerat object:	 (0, 1) (1, 2) (2, 0.0) (3, 3)
Elements smaller than 2:	 1 0.0
Lazy iterator of the list:	 <list_iterator object at 0x0000027A6A0DA470>
Sum of all elements of the list:	 6.0
Reversing the list:	 3 0.0 2 1
Aother way of reversing:	 [3, 0.0, 2, 1]

#### List map
Passes each item of the iterabale to this function. It has a one to one relationship with all the elements. You can use a combination of map and filter to perform any list comprehenssion.

In [168]:
list_for_map = [12, 4, 5, 6, 3, 34, 45]
print("Float version of the list:\t", *map(float, list_for_map))
print("All number squared :\t ", *map(lambda x : x* x, list_for_map))

Float version of the list:	 12.0 4.0 5.0 6.0 3.0 34.0 45.0
All number squared :	  144 16 25 36 9 1156 2025

#### List sorted

In [189]:
list1 = [1, 3, 4,1, 1.0, 3, 2.6]
list2 = ['az', 'abca', 'cf', 'ccccy', 'aaaaaz', 'zbab', 'zabb']
print('sorting list 1 ascedingly', sorted(list1))
print('sorting list 1 descendingly', sorted(list1, reverse=True))
print('Sorting list 2', sorted(list2))
print('sorting based on length', sorted(list2, key=len))
print('sort based on last letter', sorted(list2, key=lambda x:(x[-1],x[-2])))

sorting list 1 ascedingly [1, 1, 1.0, 2.6, 3, 3, 4]
sorting list 1 descendingly [4, 3, 3, 2.6, 1, 1, 1.0]
Sorting list 2 ['aaaaaz', 'abca', 'az', 'ccccy', 'cf', 'zabb', 'zbab']
sorting based on length ['az', 'cf', 'abca', 'zbab', 'zabb', 'ccccy', 'aaaaaz']
sort based on last letter ['abca', 'zbab', 'zabb', 'cf', 'ccccy', 'az', 'aaaaaz']

#### List zip

#### Dictionary

In [50]:
# building a dictionary
weights = {'father':170, 'mother':150, 'sister':160, 'daughter':10, 'me':180, 'wife':140}

In [51]:
# how to make a dict from two corresponding lists
num = [1, 2, 3]
alpha = ['one', 'two', 'three']
num_alpha = dict(zip(a,b))
num_alpha

{1: 'one', 2: 'two', 3: 'three'}

In [52]:
# accessing keys and values
print('Keys of num_alpha dictionary are:\t', *num_alpha.keys())
print("The values of num_alpha dictionary are:\t", *num_alpha.values())

Keys of num_alpha dictionary are:	 1 2 3
The values of num_alpha dictionary are:	 one two three

In [53]:
# modifying dictioaries
num_alpha[1] = 'Uno' # modifying values for a key that already exists
num_alpha[4] = [] # a list as avalue
num_alpha[4].append('four') # updaing the value of the list
num_alpha[4].append('char')
num_alpha[4].append('arba-a')
num_alpha[5] = 'five' # a new entry
for k, v in num_alpha.items():
    print(k,v)

1 Uno
2 two
3 three
4 ['four', 'char', 'arba-a']
5 five

In [54]:
1 in num_alpha # you dont need to use dict.keys() to check if a key exists in a dictinary

True

In [55]:
# removing entries from a dict
del(num_alpha[3])
print(num_alpha)

{1: 'Uno', 2: 'two', 4: ['four', 'char', 'arba-a'], 5: 'five'}

In [49]:
# using dictionary to store other dictionaries
# this is a common way of storing data in data bases
num_alpha[6] = {'en':'six', 'fa':'shes','ar':'settat', 'tu':'alte'}
print(num_alpha[6]['en'])

six

#### numpy basics

In [194]:
import numpy as np

In [198]:
a = [1, 2, 4]
b = [4, 3, 2.96]
a = np.array(a)
b = np.array(b)
a/b**2

array([0.0625    , 0.22222222, 0.45653762])

In [218]:
c = np.random.random((4,4))
print("shape of this array is:\t", c.shape)
print("a sample slice of this array is: \n",c[1:3, 2:])

shape of this array is:	 (4, 4)
a sample slice of this array is
 [[0.27839864 0.15518275]
 [0.74872694 0.02704803]]

In [220]:
weight = np.round(np.random.normal(130, 12,500),1)
height = np.round(np.random.normal(5.3, 2, 500), 2)
weight_height = np.column_stack((weight, height))

In [225]:
print("height mean, median, and standard deviation are {}, {}, and {}:\t"\
      .format(np.mean(weight), np.median(weight), np.std(weight)))

height mean, median, and standard deviation are 129.59120000000001, 129.45, and 12.277079561524394:

In [228]:
# correlation of two numpy array
np.corrcoef(weight, height)

array([[1.        , 0.01124692],
       [0.01124692, 1.        ]])

In [232]:
# average height of heavy people
heavy_height = height[weight>160]
light_height = height[weight <110]
print("Average height of heavy people is:\t", round(np.mean(heavy_height),1))
print("Average height of light people is:\t", round(np.mean(light_height),1))

Average height of heavy people is:	 6.5
Average height of light people is:	 5.1